name: C++ Windows Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install MinGW (G++ for Windows)
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Compile C++ Program (.exe)
        run: g++ -std=c++17 src/main.cpp -o app.exe

      - name: Run Program
        run: ./app.exe

      - name: Upload Windows EXE
        uses: actions/upload-artifact@v4
        with:
          name: windows-app
          path: app.exe
