name: C++ Windows Build

on:
  push:
    branches: [ "master" ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: mingw-w64-x86_64-gcc

      - name: Compile EXE
        shell: msys2 {0}
        run: g++ -std=c++17 src/main.cpp -o app.exe

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: windows-app
          path: app.exe
